{% extends "base.html" %}

{% block content %}
    {% load staticfiles %}

    <div id="ball"></div>

    <div class="e-burger-menu">X</div>
    <div class="c-menu">
        <h1>{{ room.label }}</h1>
        <div id="qrcode"></div>

        <p class="quiet">
            Anyone with this URL can join the room and chat:
            <code>{{ request.scheme }}://{{ request.get_host }}/{{ room.label }}</code>
        </p>
        <p>
            <label for="handle">Your name:</label>
            <input id="handle" type="text" placeholder="handle">
        </p>
    </div>
    <form id="chatform">
        <table id="chat">
            <tbody>
            <div id="e-scrolling-data-container">
                {% for message in messages %}
                    {#                    <td>{{ message.formatted_timestamp }}</td>#}
                    <span>{{ message.handle }}</span>
                    <span>{{ message.message }}</span>
                    <br>
                {% endfor %}
            </div>

            <div id="e-scrolling-data-container">
                {% for message in messages %}
                    <span>{{ message.handle }}</span>
                    <span>{{ message.message }}</span>
                    <br>
                {% endfor %}
            </div>
            </tbody>

            <tfoot>
            <tr>
                <td>Say something:</td>
                <td colspan=2>
                    <input id="message" type="text" placeholder="message">
                    <button type="submit" id="go">Say it</button>
                </td>
            </tfoot>
        </table>
    </form>
{% endblock content %}

{% block afterbody %}
    <script type="text/javascript" src='{% static "js/jquery-1.12.1.min.js" %}'></script>
    <script type="text/javascript" src='{% static "js/jquery-throttle-debounce.min.js" %}'></script>
    <script type="text/javascript" src='{% static "js/jquery.qrcode.min.js" %}'></script>
    <script type="text/javascript" src='{% static "js/reconnecting-websocket.min.js" %}'></script>
    <script type="text/javascript" src='{% static "js/chat.js" %}'></script>
    <script>
        jQuery('#qrcode').qrcode({
            width: 164,
            height: 164,
            text: 'http://queenfish.herokuapp.com/{{ room.label }}'
        });
    </script>

    <script>

{#        (function () {#}
{#            // Position Variables#}
{#            var x = 0;#}
{#            var y = 0;#}
{##}
{#            // Speed - Velocity#}
{#            var vx = 0;#}
{#            var vy = 0;#}
{##}
{#            // Acceleration#}
{#            var ax = 0;#}
{#            var ay = 0;#}
{##}
{#            var delay = 10;#}
{#            var vMultiplier = 0.01;#}
{##}
{##}
{#            window.ondevicemotion = function (event) {#}
{#                ax = event.accelerationIncludingGravity.x;#}
{#                ay = event.accelerationIncludingGravity.y;#}
                {#                console.log("Accelerometer data - x: " + event.accelerationIncludingGravity.x + " y: " + event.accelerationIncludingGravity.y + " z: " + event.accelerationIncludingGravity.z);#}
{##}
{##}
{#                setInterval(function () {#}
{#                    vy = vy + -(ay);#}
{#                    vx = vx + ax;#}
{##}
{#                    var ball = document.getElementById("ball");#}
{#                    y = parseInt(y + vy * vMultiplier);#}
{#                    x = parseInt(x + vx * vMultiplier);#}
{##}
{#                    if (x < 0) {#}
{#                        x = 0;#}
{#                        vx = 0;#}
{#                    }#}
{#                    if (y < 0) {#}
{#                        y = 0;#}
{#                        vy = 0;#}
{#                    }#}
{#                    if (x > document.documentElement.clientWidth - 20) {#}
{#                        x = document.documentElement.clientWidth - 20;#}
{#                        vx = 0;#}
{#                    }#}
{#                    if (y > document.documentElement.clientHeight - 20) {#}
{#                        y = document.documentElement.clientHeight - 20;#}
{#                        vy = 0;#}
{#                    }#}
{##}
{#                    ball.style.top = y + "px";#}
{#                    ball.style.left = x + "px";#}
{#                }, delay);#}
{#            }#}
{#        })();#}
    </script>

{% endblock afterbody %}