
body {
  background-color: #FEFEFE;
}

.hidden {
  display: none;
  opacity: 0;
}

.section {
  margin-top: 4em;
}

.quiet {
  position: fixed;
  bottom: 10px;
}

.container {
  text-align: center;
}

#e-welcome-heading {
  margin-top: 20%;
}

/* Chat Specific */

#chat {
  margin-top: 5px;
}

#e-scrolling-data-container {
  width: 200px;
  height: 200px;
  overflow-x: hidden;
  overflow-y: visible;
}

.c-menu {
  position: relative;
}

.e-burger-menu {
  width: 30px;
  height: 30px;
  position: fixed;
  right: 25px;
  top: 25px;
  background-color: #ff0f09;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

#ball {
  width: 128px;
  height: 128px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../images/fish.png);
}

/* /Chat Specific */