
body {
  background-color: #FEFEFE;
}

.hidden {
  display: none;
  opacity: 0;
}

.quiet {
  position: fixed;
  bottom: 10px;
}

.container {
  text-align: center;
}

#e-welcome-heading {
  margin-top: 20%;
}

#e-scrolling-data-container {
  width: 200px;
  height: 200px;
  overflow-x: hidden;
  overflow-y: visible;
}